<div class="navbar-container">

    <div class="name-logo">
        <p>C</p><p>M</p>
    </div>

    <!-- navigation section -->
    <div class="navigation-links">
        <p 
            routerLink="/" 
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            Portfolio
        </p>
        <p 
            routerLink="/services" 
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            Services
        </p>
        <p 
            routerLink="/experience" 
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            Experience
        </p>
        <p 
            routerLink="/projects" 
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            Projects
        </p>
        <p 
            routerLink="/education" 
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }">
            Education
        </p>
    </div>

    <div class="contact-me-button">
        <p>Contact Me</p>
    </div>

</div>