* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%; 
    height: 100%;
    background-color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    
}

body {
    padding: 4em;
    line-height: 1.5;
}

p, li, summary {
    width: fit-content;
    color: gray;
}

summary:hover {
    color: black;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: gray;
    transition-duration: 0.2s;
}

a:hover {
    color: black;
}

a[href^="http"]::after {
    content: " ↗"; 
}