@import 'src/styles/variables';

html, body {
    margin: 0;
    padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

