<div class="portfolio-container">
    <div class="description-and-contact">
        <div class="description">
            <h1 id="smaller-text">Hi,</h1>
            <h1 id="bigger-text">I'm <span id="name">Collin</span></h1>
            <h1 id="bigger-text">an <span class="gradient-text" id="AI">AI/ML</span> & <span class="gradient-text" id="QC">QC</span> <span id="asterick">*</span> Engineer</h1>
            <h4>
                <span id="asterick">*</span>
                (<span id="AI">Artificial Intelligence / Machine Learning</span>, 
                <span id="QC">Quantum Computing</span>)</h4>
            <p>I have 2+ years of proven industry experience developing AI classification models.
                In my academic career, I am pursuing my M.S. in Computer Science with the University of Texas,
                where I have studied deep learning, reinforcement learning, NLPs, and quantum information science.
                I am currently developing the hardware and software for AI drones.
                Check out my work, or contact me to learn more. Cheers!</p>
        </div>

        <div class="contact">
            <p class="button" id="contact-me" (click)="openModal()">Contact Me</p>
            <p class="button" id="view-my-work"><a href="https://github.com/collin-matz">View My Work</a></p>
        </div>
    </div>

    <div class="profile-picture">
        <img src="assets/IMG_9481.jpg">
    </div>
</div>
